<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <link rel="stylesheet" href="/prodInfo.css">
  
  <body>
    <%- include('./partials/nav.ejs') %>

    <div class="main">
      <h1>Nintendo</h1>
      <h3>Du må være logget inn for å legge til i handlekurven, hvis ikke blir du flyttet til logg inn</h3>
      <hr />
      <div class="grid-container">
        <% if (nintendo.length > 0) { %>
            <% nintendo.forEach(nintendo => { %>
                <div class="grid-item">
                    <%= nintendo.type %> <%= nintendo.version %> <br>
                    Pris <%= nintendo.price %> Kr
                    <img id="img1" class="myimg" src= <%= nintendo.img %> alt= <%= nintendo.alt %> />
                    <form action="/Nintendo" method="post">
                        <input type="hidden" id="id" name="id" value= <%= nintendo.id %> />
                        <input type="hidden" id="type" name="type" value= <%= nintendo.type %> />
                        <input type="hidden" id="version" name="version" value= <%= nintendo.version %> />
                        <input type="hidden" id="price" name="price" value= <%= nintendo.price %> />
                        <label for="antall">Antall:</label>
                        <input type="number" id="antall" name="antall">
                        <button>Legg til i handlekurv</button>
                    </form>
                    <div style="font-size: 25px;">På lager: <%= nintendo.stock %> <br><br>
                        <!-- <%= nintendo.info %> -->
                    </div>
                    <div class="tooltip">Mer informasjon
                      <span class="tooltiptext"><%= nintendo.info %></span>
                    </div>
                </div>
            <% }) %>
        <% } else { %>
            <p>Ingen produkter</p>
        <% } %>
    
      </div>
    </div>

    <%- include('./partials/footer') %>

  </body>
</html>
