<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <link rel="stylesheet" href="/prodInfo.css">
  
  <body>
    <%- include('./partials/nav.ejs') %>

    <div class="main">
      <h1>Playstation</h1>
      <h3>Du må være logget inn for å legge til i handlekurven, hvis ikke blir du flyttet til logg inn</h3>
      <hr />
      <div class="grid-container">
        <% if (playstation.length > 0) { %>
            <% playstation.forEach(playstation => { %>
                <div class="grid-item">
                    <%= playstation.type %> <%= playstation.version %> <br>
                    Pris <%= playstation.price %> Kr
                    <img id="img1" class="myimg" src= <%= playstation.img %> alt= <%= playstation.alt %> />
                    <form action="/Playstation" method="POST">
                        <input type="hidden" id="id" name="id" value=<%= playstation.id %>
                        <input type="hidden" id="type" name="type" value= <%= playstation.type %> />
                        <input type="hidden" id="version" name="version" value= <%= playstation.version %> />
                        <input type="hidden" id="price" name="price" value= <%= playstation.price %> />
                        <label for="antall">Antall:</label>
                        <input type="number" id="antall" name="antall">
                        <button>Legg til i handlekurv</button>
                    </form>
                    <div style="font-size: 25px;">På lager: <%= playstation.stock %> <br><br>
                        <!-- <%= playstation.info %> -->
                    </div>
                    <div class="tooltip">Mer informasjon
                      <span class="tooltiptext"><%= playstation.info %></span>
                    </div>
                </div>
            <% }) %>
        <% } else { %>
            <p>Ingen produkter</p>
        <% } %>
    
      </div>
    </div>

    <%- include('./partials/footer') %>

  </body>
</html>
