<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <link rel="stylesheet" href="/prodInfo.css">
  
  <body>
    <%- include('./partials/nav.ejs') %>

    <div class="main">
      <h1>Velkommen til Old Toys</h1>
      <h3>Du må være logget inn for å legge til i handlekurven, hvis ikke blir du flyttet til logg inn</h3>
      <div class="grid-container">
        <% if (prod.length > 0) { %> 
          <% prod.forEach(prod => { %>
            <div class="grid-item">
              <%= prod.type %> <%= prod.version %> <br />
              Pris <%= prod.price %> Kr 
              <img id="img1" class="myimg" src= <%= prod.img %> alt= <%= prod.alt %> />
              <form action="/Products" method="post">
                <input type="hidden" id="id" name="id" value= <%= prod.id %> />
                <input type="hidden" id="type" name="type" value= <%= prod.type %> />
                <input type="hidden" id="version" name="version" value= <%= prod.version %> />
                <input type="hidden" id="price" name="price" value= <%= prod.price %> />
                <label for="antall">Antall:</label>
                <input type="number" id="antall" name="antall" />
                <button>Legg til i handlekurv</button>
              </form>
              <div style="font-size: 25px">
                På lager: <%= prod.stock %> <br /><br />
              </div>
              <div class="tooltip">Mer informasjon
                <span class="tooltiptext"><%= prod.info %></span>
              </div>
            </div>
          <% }) %> 
        <% } else { %>
          <p>Ingen produkter</p>
        <% } %>
      </div>
    </div>

    <%- include('./partials/footer') %>
  </body>
</html>
