<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <link rel="stylesheet" href="/prodInfo.css">
  
  <body>
    <%- include('./partials/nav.ejs') %>

    <div class="main">
      <h1>Sega</h1>
      <h3>Du må være logget inn for å legge til i handlekurven, hvis ikke blir du flyttet til logg inn</h3>
      <hr />
      <div class="grid-container">
        <% if (sega.length > 0) { %>
            <% sega.forEach(sega => { %>
                <div class="grid-item">
                    <%= sega.type %> <%= sega.version %> <br>
                    Pris <%= sega.price %> Kr
                    <img id="img1" class="myimg" src= <%= sega.img %> alt= <%= sega.alt %> />
                    <form action="/Sega" method="post">
                        <input type="hidden" id="id" name="id" value= <%= sega.id %> />
                        <input type="hidden" id="type" name="type" value= <%= sega.type %> />
                        <input type="hidden" id="version" name="version" value= <%= sega.version %> />
                        <input type="hidden" id="price" name="price" value= <%= sega.price %> />
                        <label for="antall">Antall:</label>
                        <input type="number" id="antall" name="antall">
                        <button>Legg til i handlekurv</button>
                    </form>
                    <div style="font-size: 25px;">På lager: <%= sega.stock %> <br><br>
                    </div>
                    <div class="tooltip">Mer informasjon
                      <span class="tooltiptext"><%= sega.info %></span>
                    </div>
                </div>
            <% }) %>
        <% } else { %>
            <p>Ingen produkter</p>
        <% } %>
    
      </div>
    </div>

    <%- include('./partials/footer') %>

  </body>
</html>
