<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <link rel="stylesheet" href="/prodInfo.css">

  <body>
    <%- include('./partials/nav.ejs') %>

    <div class="main">
      <h1>Xbox</h1>
      <h3>Du må være logget inn for å legge til i handlekurven, hvis ikke blir du flyttet til logg inn</h3>
      <hr />
      <div class="grid-container">
        <% if (xbox.length > 0) { %>
            <% xbox.forEach(xbox => { %>
                <div class="grid-item">
                    <%= xbox.type %> <%= xbox.version %> <br>
                    Pris <%= xbox.price %> Kr
                    <img id="img1" class="myimg" src= <%= xbox.img %> alt= <%= xbox.alt %> />
                    <form action="/Xbox" method="post">
                        <input type="hidden" id="id" name="id" value= <%= xbox.id %> />
                        <input type="hidden" id="type" name="type" value= <%= xbox.type %> />
                        <input type="hidden" id="version" name="version" value= <%= xbox.version %> />
                        <input type="hidden" id="price" name="price" value= <%= xbox.price %> />
                        <label for="antall">Antall:</label>
                        <input style="width: 100px" type="number" id="antall" name="antall" min="0" max= <%= xbox.stock %> />
                        <button>Legg til i handlekurv</button>
                    </form>
                    <div style="font-size: 25px;">På lager: <%= xbox.stock %> <br><br>
                    </div>
                    <div class="tooltip">Mer informasjon
                      <span class="tooltiptext"><%= xbox.info %></span>
                    </div>
                </div>
            <% }) %>
        <% } else { %>
            <p>Ingen produkter</p>
        <% } %>
    
      </div>
    </div>

    <%- include('./partials/footer') %>

  </body>
</html>
